@import "./base.css";

a,
.green {
    text-decoration: none;
    color: rgb(64, 158, 255);
    transition: 0.4s;
}

/* @media (hover: hover) {
    a:hover {
        background-color: rgba(64,158,255,0.5);
    }
} */

@media (min-width: 1024px) {
    html,
    body {
        margin: 0px;
        padding: 0;
        background-color: rgb(244, 247, 255);
        line-height: 1.4;
        font-size: 16px;
        font-weight: 400;
    }
    #app {
        display: block;
    }
}
html,
body {
    margin: 0px;
    padding: 0;
    background-color: rgb(244, 247, 255);
}
#app {
    display: block;
}
