@import "./base.css";

a,
.green {
    text-decoration: none;
    color: rgb(64, 158, 255);
    transition: 0.4s;
}

/* @media (hover: hover) {
    a:hover {
        background-color: rgba(64,158,255,0.5);
    }
} */


html,
body {
    margin: 0px;
    padding: 0;
    background-color: rgb(244, 247, 255);
}
#app {
    display: block;
}
